.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  background-color: #282c34;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  padding: 20px;
  margin: 20px;
}

.footer {
  color: white;
}

.habit-list {
  list-style: none;
}

.habit {
  background-color: #1b2025;
  color: white;
  padding: 20px;
  margin: 10px;
  margin-right: 40px;
}

h3 {
  color: white;
}

.link {
  text-decoration: underline;
  color: white;
}

.add-habit {
  color: white;
}

.sign-up {
  color: white;
}

.button {
  margin-left: 5px;
  padding: 10px;
}

.Habit-complete {
  margin: 10px;
}

.sign-in-reset {
  margin: 10px;
}